<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="fileWriterHelper" class="spring.core.injection.ritesh.FileWriterHelper">
		<property name="fileWriter">
		<list>
		<ref ="textFileWriter"/>
		<ref ="excelFileWriter"/>
		</list>
		</property>
	</bean> -->
	
   <bean id="fileWriterHelper" class="spring.core.injection.ritesh.FileWriterHelper">
		<property name="fileWriter" ref="xmlFileWriter" />
	</bean>
 
	<bean id="textFileWriter" class="spring.core.injection.ritesh.TextFileWriter" />
    <bean id="excelFileWriter" class="spring.core.injection.ritesh.ExcelFileWriter" />
    <bean id="xmlFileWriter" class="spring.core.injection.ritesh.XmlFileWriter" />
</beans>